.dashboard {
  margin: 50px auto 0 auto;
}

#notes-container {
  width: 700px;
}

#images-container {
  margin-top: 40px;
  width: 700px;
}

#notes_button {
  margin-top: 10px;
  width: 120px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

/*Image Formatting*/

.image-container {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: relative;
}

.image-delete{
  position: absolute;
  top: 0;
  left: 0;
}

.image-thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.image-delete{
  display: none;
  font-size: 2em;
  cursor: pointer;
}

#page
{
    position: relative;
    width: 940px;
    height: 470px;
    margin: 0 auto;
}
#drop-backdrop, #drop-target
{
    position: absolute;
    width: 100%;
    height: 100px;
}
#drop-target
{
    border: 1px dashed #aaa;
}

#drop-backdrop
{
    color: #bbb;
    font-size: 20px;
}
#drop-backdrop .text
{
    width: 220px;
    margin: 40px auto 0 auto;
    position: relative;
}