.image-container {
  /*float: left;*/
  width: 200px;
  height: 200px;
  display: inline-block;
  position: relative;
}

.image-delete{
  position: absolute;
  top: 0;
  left: 0;
}

.image-thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.image-delete{
  display: none;
  font-size: 2em;
  cursor: pointer;
}

