<div id="uploaded-holder">
    <div id="dropped-files">
        <div id="upload-button">
            <a href="#" class="upload"><i class="ss-upload"> </i> Upload!</a>
            <a href="#" class="delete"><i class="ss-delete"> </i></a>
            <span>0 Files</span>
        </div>
    </div>
    <div id="extra-files">
        <div class="number">
            0
        </div>
        <div id="file-list">
            <ul></ul>
        </div>
    </div>
</div>
 
<div id="loading">
    <div id="loading-bar">
        <div class="loading-color"> </div>
    </div>
    <div id="loading-content">Uploading file.jpg</div>
</div>
 
<div id="file-name-holder">
    <ul id="uploaded-files">
        <h1>Uploaded Files</h1>
    </ul>
</div>