<div class="container" id="images-container">
  <div class="container" id="uploaded-images">
    <% @user.photos.each do |photo| %>
      <div class="image-container" data-photo-id='<%= photo.id %>'>
        <img src="<%= photo.image.url %>" class="image-thumbnail">
        <span class="glyphicon glyphicon-remove image-delete"> </span>
      </div>
    <% end %>
  </div>

  <div class="container" id="image-uploader">
  <section id="add">
    <form action="/<%= @user.username %>/photos" method="post" enctype="multipart/form-data">
          <input class="file-input file" type="file" name="image" />
        <button type="submit btn btn-primary">Save Photo</button>
    </form>
  </section>
</div>