<div class="container">
  <h1>Sign Up</h1>
  <%= erb :errors %>
  <form id="sign-up" method="post" action="/users">
    <label class="label" for="name">Username</label>
    <input type="text" name="user[username]" placeholder="e.g., BitcoinBaller69" >
    <br>

    <label class="label" for="email">Email</label>
    <input type="email" name="user[email]" placeholder="e.g., me@example.com" >
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>
</div>